.user-list--wrapper,
.food-list--wrapper {
  display: grid;
  gap: 1rem;
}

.user-list--wrapper {
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}

.user-list--wrapper > *,
.food-list--wrapper > * {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.user-list--wrapper > input,
.food-list--wrapper > input,
.user-list--wrapper > select,
.food-list--wrapper > select {
  padding-inline: 0.5rem;
  /* background: red; */
  outline: 1px solid var(--clr-neutral-white-200);
}

.food-list--wrapper {
  grid-template-columns: repeat(auto-fit, minmax(75px, 1fr));
}
